<!DOCTYPE html>
<html>
<head>
  <title>Fedprint by Brighter Planet</title>
  <%= stylesheet_link_tag 'application' %>
  <!--[if IE]>
  <%= stylesheet_link_tag 'ie' %>
  <![endif]-->
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <h1>Fedprint by Brighter Planet</h1>
    <p>The U.S. Federal Government awards billions of dollars of contracts every year to thousands of businesses. Every single one of these contracts has a <i>carbon footprint</i>&mdash;a specific impact on the climate and global warming, measured in CO<sub>2</sub>.</p>
    <p>Fedprint provides rough estimates of these carbon footprints, calculated based on the type and size of the contract using an economic model. These calculations are powered by <%= link_to 'Carbon Middleware', 'http://brighterplanet.com' %>, Brighter Planet's suite of carbon information web services.</p>
  </div>
  <div id="main">
    <div id="content">
<%= yield %>
    </div>
    <div id="footer">
    </div>
  </div>
  <%= image_tag 'logo.png', :alt => 'Brighter Planet logo', :id => 'logo' %>
</body>
</html>
