<!DOCTYPE html>
<html>
<head>
  <title>Fedprint by Brighter Planet</title>
  <%= stylesheet_link_tag 'application' %>
  <!--[if IE]>
  <%= stylesheet_link_tag 'ie' %>
  <![endif]-->
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <h1>Fedprint by Brighter Planet</h1>
  </div>
  <div id="main">
    <div id="content">
<%= yield %>
    </div>
    <div id="footer">
    </div>
  </div>
  <%= image_tag 'logo.png', :alt => 'Brighter Planet logo', :id => 'logo' %>
</body>
</html>
